html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 100%;
}

.statbox {
  margin-bottom: 2px;
}

.bar1 {
  height: 25px;
  width: 90%;
  background-color: green;
  display: inline-block;
}

.bar2 {
  margin: 3px;
  height: 20px;
  width: 70%;
  background-color: rgb(194, 17, 17);
  display: inline-block;
}

.bar3 {
  margin: 3px;
  height: 20px;
  width: 50%;
  background-color: rgb(194, 97, 17);
  display: inline-block;
}

.bar4 {
  margin: 3px;
  height: 20px;
  width: 20%;
  background-color: rgb(40, 240, 13);
  display: inline-block;
}

#eventbox {
  left: 1%;
  height: 40%;
  width: 18%;
  position:absolute;
  top:100vh;
  transform:translateY(-100%);
  background-color: rgb(31, 31, 31);
}

.event {
  margin: 10%;
}

.tact {
  left: 45%;
  margin: 5px;
  padding-bottom: 10px;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 40%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}