html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 20% 80%;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 100%;
}

.statbox {
  margin-bottom: 2px;
}

.bar1 {
  height: 25px;
  width: 90%;
  background-color: green;
  display: inline-block;
}

.bar2 {
  margin: 3px;
  height: 20px;
  width: 70%;
  background-color: rgb(194, 17, 17);
  display: inline-block;
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 17s;
}

@keyframes example {
  0%   {width: 70%;}
  25%  {width: 75%;}
  50%  {width: 60%;}
  100% {width: 70%;}
}

.bar3 {
  margin: 3px;
  height: 20px;
  width: 50%;
  background-color: rgb(194, 97, 17);
  display: inline-block;
  animation-name: example2;
  animation-iteration-count: infinite;
  animation-duration: 17s;
}
@keyframes example2 {
  0%   {width: 50%;}
  25%  {width: 55%;}
  50%  {width: 60%;}
  75%  {width: 55%;}
  100% {width: 50%;}
}

.bar4 {
  margin: 3px;
  height: 20px;
  width: 20%;
  background-color: rgb(40, 240, 13);
  display: inline-block;
  animation-name: example3;
  animation-iteration-count: infinite;
  animation-duration: 17s;
}
@keyframes example3 {
  0%   {width: 20%;}
  25%  {width: 10%;}
  50%  {width: 15%;}
  100% {width: 20%;}
}

.tbar1 {
  height: 25px;
  width: 90%;
  background-color: green;
  display: inline-block;
  animation-name: example5;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes example5 {
  0%   {background-color: green;}
  50%  {background-color: rgba(0, 0, 0, 0);}
  100%  {background-color: green;}
}

.bar4 {
  margin: 3px;
  height: 20px;
  width: 10%;
  background-color: rgb(50, 161, 35);
  display: inline-block;
  animation-name: example4;
  animation-iteration-count: infinite;
  animation-duration: 17s;
}
@keyframes example4 {
  0%   {width: 10%;background-color: rgb(72, 255, 0);}
  25%  {width: 5%;background-color: rgba(82, 252, 4, 0.877);}
  50%  {width: 7%;background-color: rgba(0, 0, 0, 0);}
  100% {width: 10%;background-color: rgb(60, 255, 0);}
}

#eventbox {
  left: 1%;
  height: 40%;
  width: 18%;
  position:absolute;
  top:100vh;
  transform:translateY(-100%);
  background-color: rgb(31, 31, 31);
}

.event {
  margin: 10%;
}

.tact {
  left: 45%;
  margin: 5px;
  padding-bottom: 10px;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 40%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}